// List all checkpoints for a sequence

a(
  ng-href = "#/{{ sequenceData.sequenceName }}"
) Back to {{ sequenceData.sequenceName }}

h1 {{ sequenceData.sequenceName }}
h2 {{ sequenceData.sequnceUuid }}

table
  thead
    tr
      td Name
      td Status
  tbody
    tr(
      ng-repeat = "checkpoint in sequenceData.sequenceSpec.checkpoints"
    )
      td {{ checkpoint.name }}
      td {{ sequenceData.checkpointComplete(checkpoint.name) ? 'YES' : 'NO' }}
