// Display list of all sequences of a given sequence type

a(
  href = "#/"
) Back to Sequence Types

h1 {{ data.sequenceName }} Sequences

table.table.table-striped
  th
    tr
      td UUID
      td Checkpoints
  tbody
    tr(
      ng-repeat = "s in data.sequences"
    )
      td
        a(
          ng-href = "#/{{ data.sequenceName }}/{{ s.uuid }}"
        ) {{ s.uuid }}
      td {{ s.checkpoints.length }} / {{ data.specCheckpoints.length }}
