// Display list of all sequences of a given sequence type

table
  th
    tr
      td Name
      td UUID
      td Checkpoints
  tr(
    ng-repeat = "s in data.sequences"
  )
    td {{ s.name }}
    td
      a(
        ng-href = "#/{{ data.sequenceName }}/{{ s.uuid }}"
      ) {{ s.uuid }}
    td {{ s.checkpoints.length }} / {{ data.specCheckpoints.length }}
